<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @customization_option } %>

<% content_for :page_title do %>
  <%= Spree.t(:new_customization_option) %>
<% end %>

<%= form_for [:admin, @customization_option] do |f| %>
  <fieldset data-hook="new_property">
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>
